target/
.idea/

*.class


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# For mock data 
*.pyc
*.pyo
*.egg-info
*.mo
*.pot
*.log
*.tmp.*
*.iml
.idea/
*.swp
__pycache__
bin
build
develop-eggs
eggs
parts
.DS_Store
.installed.cfg
docs/_build
.tox
.project
.classpath
.pydevproject

data/
venv/
cover/
target/

.externalToolBuilders
.settings